@import '@/assets/styles/settings/common.scss';

.mywork__box{
    background: url(../../assets/images/bg.jpg) no-repeat center/cover;
    height: 100vh;
    object-fit: cover;
    background-attachment: fixed;
    @include media(1180) {
        height: 320vh;
    }
    @include media(630) {
        height: 320vh;
    }
    &-title{
        display: flex;
        justify-content: center;
        text-align: center;
        color: aliceblue;
        padding-top: 100px;
    }
        &-figure{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            padding-top: 50px;
            padding-left: 50px;
            gap: 25px;  

            @include media(800){
                display: grid;
                grid-template-columns: repeat(2,0.7fr);
                justify-content: center;
            }
            @include media(570){
                display: grid;
                grid-template-columns: repeat(1,0.7fr);
                justify-content: center
            }
            &-item{
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    transform: translateY(-10);
                }
                &-img{ 
                    width: 350px;
                    height: 230px;
                    border-radius: 10px;
                    border: 3px solid rgb(79, 54, 72);
                    @include media(800) {
                        width: 240px;
                        height: 160px;
                    }
                } 
                 
            }
        }
}
